*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  padding: 5vw;
  color: #333;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  margin-top: 0;
  color: #000;
}

h2 {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  margin-right: 0.1em;
  color: #888;
}

p {
  margin-top: 0;
  line-height: 1.5;
}

a {
  color: #0082c6;
  text-decoration: none;
}

a:hover {
  color: #0072c5;
  text-decoration: underline;
}

.intro {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.links {
  margin: 0.6rem 0;
}
