/* @link https://utopia.fyi/type/calculator?c=360,16,1.2,1280,20,1.25,7,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --size-0: clamp(1rem, 0.9022rem + 0.4348vw, 1.25rem);
  --size-1: clamp(1.2rem, 1.0582rem + 0.6304vw, 1.5625rem);
  --size-2: clamp(1.44rem, 1.2392rem + 0.8924vw, 1.9531rem);
  --size-3: clamp(1.728rem, 1.4488rem + 1.2407vw, 2.4414rem);
  --size-4: clamp(2.0736rem, 1.6908rem + 1.7011vw, 3.0518rem);
  --size-5: clamp(2.4883rem, 1.9693rem + 2.3067vw, 3.8147rem);
  --size-6: clamp(2.986rem, 2.2885rem + 3.0998vw, 4.7684rem);
  --size-7: clamp(3.5832rem, 2.6529rem + 4.1344vw, 5.9605rem);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  padding: var(--size-5);
  color: #6a7282;
  font-size: var(--size-4);
  width: 100vw;
  height: 100vh;
  background: #fff url("../../assets/img/bg.png");
  background-size: var(--size-6);
}

h1 {
  font-size: var(--size-4);
  font-weight: 700;
  margin-bottom: 1.5rem;
  margin-top: 0;
  white-space: nowrap;
  color: #030712;
  display: inline-block;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 17px 8px rgba(255, 255, 255, 0.7);
}

#tags {
  font-size: var(--size-0);
  line-height: 1.6;
  max-width: 27em;
  padding: 0;
  list-style: none;
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.4em;
}

#tags li {
  display: inline-flex;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 1);
  transition: background-color 400ms;
}

#tags a,
#tags a:hover,
#tags a:active,
#tags a:visited {
  color: #6a7282;
  text-decoration: none;
}

#tags abbr {
  display: inline-block;
  margin-right: 0.05em;
}

#tags a:hover em {
  color: #6a7282;
}

#tags a:hover abbr {
  opacity: 0.6;
}

#tags em {
  font-style: normal;
}

#tags li * {
  transition: color 200ms, opacity 500ms;
}

#tags:hover li:not(:hover) > span,
#tags:hover li:not(:hover) > a {
  opacity: 0.5;
}

#tags:hover li:not(:hover) {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.4);
}

#tags a:hover em {
  color: #c6005c;
}

#tags a.lookbook:hover em {
  color: #372aac;
}

#tags a.strava:hover em {
  color: #fc5201;
}

#tags a.coveragebook:hover em {
  color: #1b8871;
}

#tags a.github:hover em {
  color: #155dfc;
}

#tags a.crosswords:hover em {
  color: #d59c01ff;
}

#tags a.tumblr:hover em {
  color: #c1472b;
}

#tags a.mastodon:hover em {
  color: #6364ff;
}
